{% extends "pages/page.html" %}

{% load geoanalytics_tags mezzanine_tags pages_tags %}

{% block title %}

    Create Resource

{% endblock %}

{% block main %}

    <h2>Upload files to create a new Resource:</h2>


    <ul>
    <li>All of the files you upload here will be grouped together into a "Resource"</li>
    <li>File size is limited to ??? MB per file</li>
    <li>Once you've added all of your files, you can describe your Resource using the form below</li>
    <li>Files are private, until you choose to share them</li>
    </ul>

<h3>Add your files here:</h3>
    <table class="table">
    <tr>
        <td><input class="form-control" type="file" name="" id=""/></td>
        <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>
    <tr>
        <td><input class="form-control" type="file" name="" id=""/></td>
        <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>
    <tr>
        <td><input class="form-control" type="file" name="" id=""/></td>
        <td><button class="btn btn-danger btn-block">Delete</button></td>
    </tr>
    <tfoot>
        <tr>
            <td></td>
            <td><button class="btn btn-primary btn-block">Add a Row</button></td>
        </tr>

    </tfoot>
    </table>

    <h2>Describe your Resource with metadata:</h2>

    <p>Use this form to create metadata for your Resource. Be as descriptive as you can since all of this information will show up when your Resource is displayed. You can edit this information later.
</p>

<h3>Add your metadata here:</h3>
    <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Resource Type</label>
    <div class="col-sm-10">
        <select class="form-control" name="" id="">
            <option value="genericresource">Generic Resource</option></select>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="" class="form-control" id="" placeholder="Title">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Creators</label>
    <div class="col-sm-10">
      <input type="" class="form-control" id="" placeholder="Creators">
    </div>
  </div>

   <div class="form-group">
    <label for="" class="col-sm-2 control-label">Contributors</label>
    <div class="col-sm-10">
      <input type="" class="form-control" id="" placeholder="Contributors">
    </div>
   </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Abstract</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Abstract"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Subject Keywords</label>
    <div class="col-sm-10">
      <input type="" class="form-control" id="" placeholder="Keywords">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Other DC Element</label>
    <div class="col-sm-10">
      <input type="" class="form-control" id="" placeholder="Other">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Create Resource</button>
    </div>
  </div>
</form>

{% endblock %}