{% extends "hydroshare/res.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags keyword_tags comment_tags %}

{% block resource %} 
<h4>Download files</h4>
<div class='row well'>
{% if page.genericresource.resource_file %}
    <a class='btn btn-lg btn-primary' href='{{page.genericresource.resource_file.url}}'>{{ page.genericresource.resource_file.name }}</a>
{% elif page.genericresource.resource_url %}
    <a class='btn btn-lg btn-primary' href='{{page.genericresource.resource_url}}'>Resource URL links to off-site</a>
{% endif %}
</div>
{% endblock %}


