{% extends 'pages/page.html' %}

{% load geoanalytics_tags pages_tags mezzanine_tags keyword_tags comment_tags %}

{% block title %}Resource listings available to {{ user.username }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-4">
                <h4>Your owned resources</h4>
                <div class="list-group" id="my-resources">
                    {% for r in owned_resources %}
                        <a class="list-group-item" href="{{ r.get_absolute_url }}">{{ r.titles }}</a>
                    {% empty %}
                        <div class="list-group-item"><em>No resources of your own.</em></div>
                    {% endfor %}
                    <div class="list-group-item">
                        <a class="btn btn-primary btn-block" href="/hs_core/create-resource/">Create Resource</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
                <h4>Resources you can edit</h4>
                <div class="list-group" id="editable-resources">
                    {% for r in editable_resources %}
                        <a class="list-group-item" href="{{ r.get_absolute_url }}">{{ r.titles }}</a>
                    {% empty %}
                        <div class="list-group-item"><em>No resources viewable.</em></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-4">
                <h4>Public resources</h4>
                <div class="list-group" id="viewable-resources">
                    {% for r in viewable_resources %}
                        <a class="list-group-item" href="{{ r.get_absolute_url }}">{{ r.titles }}</a>
                    {% empty %}
                        <div class="list-group-item"><em>No public resources.</em></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}